.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.label-text {
  text-align: center;
}

.appBlock {
  padding:5rem 0;
}
/*.editor {
  width: 30%;
  margin: 0 auto;
  margin-top: 10rem;
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ql-container p {
  font-size:15px;
  color:#484B4E;
}

.ql-editor {
  padding:8px 10px;
}

.ql-container.ql-snow {
  border-color:#85B596!important;
}

.appBlock:after {
  content:"Clear";
  display:block;
  opacity:0;
  font-size:1px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
